.market {
    &__title {
        .key-word::before {
            content: '03';
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
